# OSX
.DS_Store

# PyCharm
/.idea/

# Eclispe with pydev
/.project
/.pydevproject

# Sublime
cloud-playground.sublime-workspace

# Karma
/test_out/
/.chrome-test/
/.chrome-e2e/
/.chrome-app/

# compiled Python files
*.pyc

# Google API Python Client library
/api-python-client/
