[submodule "codemirror"]
	path = codemirror
	url = http://marijnhaverbeke.nl/git/codemirror
[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "mimic"]
	path = mimic
	url = https://code.google.com/p/cloud-playground.mimic
[submodule "repos/appengine-guestbook-python"]
	path = repos/appengine-guestbook-python
	url = https://github.com/GoogleCloudPlatform/appengine-guestbook-python
