</div> {# closing tag for <div id="main"> #}

<div id="footer">
  <div class="diag">
    <span>namespace: {{namespace}}</span>
  </div>
  <div id="adminlinks">
    <span>git(<a class="link" href="{{git_bliss_url}}" target="_blank">bliss</a>)</span>

    {% if is_admin %}
      <span>danger(<a class="link" onclick="big_red_button();">big-red-button</a>)</span>
    {% endif %}

    {% if datastore_admin_url and memcache_admin_url %}
    <span>admin(<a class="link" href="{{datastore_admin_url}}" target="_blank">datastore</a>, <a class="link" href="{{memcache_admin_url}}" target="_blank">memcache</a>)</span>
    {% endif %}

  </div>
</div>
</div> {# closing tag for <div id="container"> #}
