</div> {# closing tag for <div id="main"> #}

<div id="footer">
  <div class="diag">
    <span>namespace: {{namespace}}</span>
  </div>
  <div id="adminlinks">
    <span>git(<a href="{{git_bliss_url}}" target="bliss_datastore">bliss</a>)</span>

    {% if is_admin %}
      <span>danger(<a onclick="big_red_button();">big-red-button</a>)</span>
    {% endif %}

    {% if datastore_admin_url and memcache_admin_url %}
    <span>admin(<a href="{{datastore_admin_url}}" target="bliss_datastore">datastore</a>, <a href="{{memcache_admin_url}}" target="bliss_memcache">memcache</a>)</span>
    {% endif %}

  </div>
</div>
</div> {# closing tag for <div id="container"> #}
