<!DOCTYPE html>
<html ng-app="cloud-playground">
  <head>
    <title>bliss</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/bliss/bliss.css">
    <!-- load angular in head section to ensure ngCloak CSS is loaded -->
    <script src="/angularjs/1.0.2/angular.js"></script>

    <script src="/codemirror/lib/codemirror.js"></script>

    <script src="/codemirror/mode/clike/clike.js"></script>
    <script src="/codemirror/mode/css/css.js"></script>
    <script src="/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script src="/codemirror/mode/htmlembedded/htmlembedded.js"></script>
    <script src="/codemirror/mode/javascript/javascript.js"></script>
    <script src="/codemirror/mode/mysql/mysql.js"></script>
    <script src="/codemirror/mode/php/php.js"></script>
    <script src="/codemirror/mode/python/python.js"></script>
    <script src="/codemirror/mode/shell/shell.js"></script>
    <script src="/codemirror/mode/xml/xml.js"></script>
    <script src="/codemirror/mode/yaml/yaml.js"></script>

    <script src="/codemirror/lib/util/formatting.js"></script>

    <style>
      [ng\:cloak], [ng-cloak], .ng-cloak {
        display: none;
      }
    </style>
  </head>
  <body ng-cloak ng-controller="PageController">
    <div id="container">

      <!-- cover up IFRAMEs during drag -->
      <div id="drag-div" class="hidden">
      </div>

      <div id="header" ng-controller="HeaderController">
        <a class="logo" ng-href="/bliss"><span class='app-back' ng-hide="alreadyhome()">&#x2039;</span>Cloud Playground</a>
        <sup class="experimental">experimental</sup>

        <div class="topbar">
          <div class="email">
            <span><i class="icon-user"></i> {{config.email}}</span>
            <button ng-show="config.is_logged_in" class="btn" onclick="window.location='/bliss/logout'">logout</button>
            <button ng-hide="config.is_logged_in" class="btn btn-success" onclick="window.location='/bliss/login'">login</button>
          </div>
        </div>
      </div>

      <div class="butter">
        Note: This is a shared public playground.
        Anyone can read, modify or delete your projects, files and data at any time.
        Your private source code and data are <em>not</em> safe here.
      </div>

      <hr class="divider">

      <div id="main">
        <div ng-view></div>
      </div>

      <div id="footer">
        <div class="diag">
          <span>namespace: {{namespace()}}</span>
        </div>
        <div id="adminlinks">
          <span>git(<a class="link" ng-href="{{config.git_bliss_url}}" target="_blank">bliss</a>)</span>

          <span ng-show="config.is_admin">danger(<span class="link" ng-click="big_red_button()">big-red-button</span>)</span>

          <span ng-show="config.is_admin">admin(<span class="link" ng-click="datastore_admin()" target="_blank">datastore</span>,
                                                <span class="link" ng-click="memcache_admin()" target="_blank">memcache</span>)</span>

        </div>
      </div>
    </div>

    <div class="lightbox" ng-repeat="box in lightboxes" ng-controller="LightboxController">
      <div class="content" style="absolute; z-index: {{2147483647 - $index * 2}};">
        <div>
          <button ng-click="reload()" class="btn"><i class="icon-refresh"></i> Reload Page</button>
          <button ng-click="dismiss()" class="btn"><i class="icon-remove"></i> Dismiss</button>
        </div>
        <div class="summary">{{box.summary}}</div>
        <div class="details">{{box.details}}</div>
      </div>
      <div class="screen" style="z-index: {{2147483647 - $index * 2 - 1}};"></div>
    </div>

    <script src="/bliss/bliss.js"></script>
  </body>
</html>
