{% extends 'base.html' %}

{% block head %}
<style>
  .logo .app-back {
    visibility: hidden;
  }
</style>
{% endblock %}

{% block main %}
  <h1 class="projectlistheader">My Projects</h1>

  <table class="projectlist">

    <thead>
      <tr class="project">
        <th class="projectname">Project</a></th>
        <th class="projectdescription">Description</th>
        <th class=""></th>
      </tr>
    </thead>

    <tbody>
      {% if projects %}
        {% for name, description in projects %}
          <tr class="project {{ loop.cycle('odd', 'even') }}">
            <td class="projectname"><a href="/bliss/p/{{name}}/">{{name}}</a></td>
            <td class="projectdescription">{{description}}</td>
            <td class="link" onclick="prompt_to_delete_project('{{name}}')">delete</td>
          </tr>
        {% endfor %}
      {% else %}
        <tr class="project odd">
           <td colspan="3">
             <div>
               No projects created yet.<br>
             </div>
             <div style="color: gray;">
               Use the templates below to start a new project.</br>
               {% if not is_logged_in %}
               Or <a href="/bliss/login">login</a> to access your saved projects.
               {% endif %}
             </div>
           </td>
        </tr>
      {% endif %}
    </tbody>

  </table>
  {% for source, templates in template_tuples %}
    <h1>{{source.description}}</h1>
    <div class="{{ loop.cycle('one', 'two', 'three') }}">
      {% for t in templates %}
        <div class="newthing" style="margin: .5em;">
          <button style="float: left;" onclick="prompt_for_new_project('{{t.key.id()}}')">New Project</button>
          <div stlye="clear: both;">
             <div class="name">{{t.name}}</div>
             <div class="description">{{t.description}}</div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}

{% endblock %}
