<div>
  <div class="source-container">
    <div id="nav">
      <div id="navheader">
        <div id="projectname" title="{{config.project_description}}">{{config.project_name}}</div>
        <div class="dropdown"><a ng-click="project_context_menu($event)">…</a></div>
      </div>
      <div id="filelist">
        <div id="file-{{$index}}" class="fileentry"
             ng-click="select(file)"
             ng-class="{selected: file == currentFile}"
             ng-repeat="file in files">
          <div class="filename">{{file.name}} <i class="icon-asterisk dirtymarker" ng-show="file.dirty"></i></div>
          <div class="dropdown"><a ng-click="file_context_menu($event, file)">…</a></div>
        </div>
        <div class="newthing" ng-click="prompt_for_new_file()">+ new file</div>
      </div>
    </div>

    <div id="source-filename">
      <div class="runlink" ng-click="run()" title="run {{config.project_name}}"><img src='/bliss/run.png'></div>
      {{currentFile.name}}
      <span class="filestatus" ng-bind="filestatus"></span>
    </div>
    <div ng-hide="isImageMimeType(currentFile.mime_type)" id="source-code"></div>
    <img ng-show="isImageMimeType(currentFile.mime_type)" ng-src="{{image_url_of(currentFile)}}">
  </div>

<br>
<br>
  <hr id="divider1" class="divider movable"/>

  <div id="output-container">
    <div>
      <button ng-click="popout(); run()"><i class="icon-resize-full"></i></button>
      <input ng-model="config.project_run_url" class="output-url" ng-click="selectme($event)">
    </div>
    <iframe id="output-iframe">
    </iframe>
    <hr id="divider2" class="divider movable"/>
  </div>


  <!-- hidden bits -->
  <div id="file-context-menu" class="context-menu" ng-show="showfilecontextmenu">
    <div ng-click="prompt_file_rename()"><b>Rename</b> <code>{{currentFile.name}}</code></div>
    <div ng-click="prompt_file_delete()"><b>Delete</b> <code>{{currentFile.name}}</code></div>
  </div>
  <div id="project-context-menu" class="context-menu" ng-show="showprojectcontextmenu">
    <div ng-click="prompt_project_rename()"><b>Rename</b> {{config.project_name}}</div>
    <div ng-click="prompt_to_delete_project()"><b>Delete</b> {{config.project_name}}</div>
  </div>
</div>
