HTML, BODY {
}

BODY {
  font-family: Arial, Helvetica, sans-serif;
}

A, .link, .newthing {
  cursor: pointer;
  text-decoration: none;
}

  A:hover {
    text-decoration: none;
  }

  .newthing:hover, .link {
    color: #0000ee;
  }

  .newthing:active, .link:active {
    color: #ee0000;
  }

  .newthing:visited, .link A:visited {
    color: #800080;
  }

.btn {
  margin-right: 10px;
}

.context-menu {
  position: absolute;
  margin-left: -2em;
  margin-top: -.5em;
  z-index: 1000;
  padding: .5em;
  background-color: #e9e9e9;
}

  .context-menu DIV:hover {
    cursor: pointer;
    background-color: #c5d7ef;
  }

TABLE {
  border: 1px solid #c5d7ef;
  border-collapse: collapse;
  empty-cells: show;
  margin: 1em .5em .5em 1em;
}

  TR {
    border: 1px solid #c5d7ef;
  }

  TR.even {
    background-color: #e9e9e9;
  }

  TH {
    background-color: #c5d7ef;
  }

  TH, TD {
    padding: 0px;
    margin: 0px;
    text-align: left;
    padding: .35em 1em .25em .35em;
  }

.experimental {
  color: #f00;
  top: -0.9em;
  position: relative;
}

.topbar {
  position: absolute;
  right: 0em;
  top: 0em;
}

  .topbar DIV {
    display: inline-block;
  }

  .topbar SPAN {
    margin: 0.4em;
  }

.filestatus {
  color: #ccc;
  margin: 0em 2em;
  min-height: 2em;
}

.logo {
  font-size: 2em;
  font-weight: bold;
  color: #000 !important;
  text-decoration: none;
}

  .logo .app-back {
    color: #ddd;
    font-size: 0.9em;
    vertical-align: top;
  }

  .logo:hover .app-back {
    color: #555;
  }

H1 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 1.7em 0em .4em;
}

#navheader {
  color: #aaa;
}

#source-filename {
  font-weight: bold;
  color: #777;
  display: inline-block;
  white-space: nowrap;
}

#nav {
  width: 180px;
  height: 100%;
  float: left;
}

  #nav #filelist {
    border-top: 1px solid #aaa;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

    #nav #filelist .fileentry {
      margin: .2em 0em 0em;
      cursor: pointer;
      overflow: hidden;
      display: inline-block;
    }

    #nav #filelist .fileentry.selected {
      background-color: #ddf;
    }

    #nav #filelist .fileentry:hover {
      background-color: #ccf;
    }

      #nav #filelist .fileentry .filename , #nav #navheader #projectname {
        display: inline-block;
        width: 155px;
        overflow: hidden;
        white-space: nowrap;
      }

      #nav #filelist .fileentry.selected .filename {
        font-weight: bold;
      }

  #nav #navheader , #source-filename {
    /* run.png is 42px x 32px */
    height: 34px;
  }

  #nav .dropdown {
    text-align: right;
    width: 20px;
    display: inline-block;
  }

    #nav .dropdown A {
      color: #555;
    }

    #nav .dropdown A:hover {
      color: #00c;
      background-color: #cce;
    }

.runlink {
  display: inline-block;
}

.newthing {
  color: #bbb;
  padding-top: .5em;
}

.template {
  padding-bottom: 0.4em;
}
  .template .name {
    font-weight: bold;
  }

#container {
  position: relative;
  height: auto;
  min-height: 100%;
}

  #header {
    border-bottom: 1px solid #ccc;
    /* developers-logo.png is 200px x 48px */
    background: 7px 7px no-repeat url(/playground/img/developers-logo.png);
    padding-left: 215px;
    line-height: 67px;
    height: 67px;
  }

  #main {
    /* bottom padding should be at least footer height */
    padding: 0em 1em 4em;
  }

  #footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #ccc;
    padding: 1em 0em 0.5em;
  }

    #footer .diag {
      color: #ccc;
      display: inline-block;
    }

    #footer #adminlinks {
      color: #999;
      display: inline-block;
      float: right;
    }

      #footer #adminlinks > SPAN {
        margin: 0.4em;
      }

#source-container {
  height: 400px;
}

  #source-container #source-code {
    background-color: #f8fafc;
    height: 100%;
  }

  #source-container IMG {
    background: url(/playground/img/checker.png) repeat;
    display: block;
  }

.CodeMirror {
  border: 1px solid #ccc;
  height: 100%;
  line-height: 1.2em;
}

  .CodeMirror-scroll {
    height: 100%;
  }

#output-iframe {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  height: 17em;
}

#drag-div {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  z-index: 2147483647;
}

.hidden {
  display: none;
}

.key {
  color: #ccc;
  text-align: right;
  font-family: monospace;
}

.dirtymarker {
  opacity: 0.3;
}

.ghost {
  opacity: 0.5;
}
