a {
	text-decoration: none;
	color: #15c;
	cursor: pointer;
}

html, body, div, span, 
iframe, h1, h2, h3, 
table, caption, tbody, 
tfoot, thead, tr, th, td {
	vertical-align: baseline;
}

.btn:hover,
.btn:focus {
  background-position: 0 0px;
  -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;
}

.btn {
	display: inline-block;
	min-width: 54px;*min-width:70px;/*hello,IE7!*/
	border:1px solid #DCDCDC;
	border: 1px solid rgba(0,0,0,0.1);
	text-align: center;
	color: #444;
	font-size: 11px;
	font-weight: bold;
	height: 27px;
	padding: 0 8px;
	line-height: 27px;
	-webkit-border-radius:2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: all 0.218s;
	-moz-transition: all 0.218s;
	-o-transition: all 0.218s;
	transition: all 0.218s;
	background-color: #f5f5f5;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f5f5',EndColorStr='#f1f1f1');
	-webkit-user-select:none;
	-moz-user-select:none;
	cursor:default;
	/*override Bootstrap*/
	box-shadow: none;
}

.btn:hover, .btn.hover {
	border: 1px solid #C6C6C6;
	color: #222;
	-webkit-transition: all 0.0s;
	-moz-transition: all 0.0s;
	-o-transition: all 0.0s;
	transition: all 0.0s;
	background-color: #f8f8f8;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f8f8f8',EndColorStr='#f1f1f1');
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}

.btn:active, .btn.active {
	background-color: #f6f6f6;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#f6f6f6),to(#f1f1f1));
	background-image: -webkit-linear-gradient(top,#f6f6f6,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f6f6f6,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f6f6f6,#f1f1f1);
	background-image: -o-linear-gradient(top,#f6f6f6,#f1f1f1);
	background-image: linear-gradient(top,#f6f6f6,#f1f1f1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f6f6f6',EndColorStr='#f1f1f1');
	-webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}

.btn.active{
	border: 1px solid #C6C6C6;
	color: #333;	
}

.btn:visited {
	color: #666;
}
.btn.focus, .btn.right.focus, .btn.mid.focus, .btn.left.focus{
	outline: none;
	border: 1px solid #4d90fe;
	z-index:4 !important;
}

.btn.selected {
	background-color: #EEEEEE;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#EEEEEE),to(#E0E0E0));
	background-image: -webkit-linear-gradient(top,#EEEEEE,#E0E0E0);
	background-image: -moz-linear-gradient(top,#EEEEEE,#E0E0E0);
	background-image: -ms-linear-gradient(top,#EEEEEE,#E0E0E0);
	background-image: -o-linear-gradient(top,#EEEEEE,#E0E0E0);
	background-image: linear-gradient(top,#EEEEEE,#E0E0E0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#EEEEEE',EndColorStr='#E0E0E0');
	-webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
	border: 1px solid #CCC;
	color: #333;
}
.btn input[type=checkbox] {
	position: relative;
	top: 3px;
}

.btn img {
	display: inline-block;
	margin: -3px 0 0;
	opacity: 0.55;
	*margin:4px 0 0; /*IE7*/
	margin-left: 0px;
	margin-right: 0px;
	vertical-align: middle;
}

.btn.selected img {
	opacity: 0.9;
}
.btn:hover img {
	opacity: 0.72;
}
.btn:active img {
	opacity: 1.0;
}

/* Disabled buttons */
.btn.disabled, .btn.disabled:hover, .btn.disabled:active {
	background: none;
	color: #b8b8b8;
	border: 1px solid #f3f3f3;
	border: 1px solid rgba(0,0,0,0.05);
	cursor: default;
	pointer-events: none;
}
.btn.disabled.active{
	-webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}
.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:active,
.btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:active,
.btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:active {
	border: 1px solid #505050;
	background-color: #666;
	color: #FFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}
.btn.disabled img {
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

/* Colored Buttons */
.btn-primary:focus, .btn-primary.focus,
.btn-success:focus, .btn-success.focus,
.btn-danger:focus, .btn-danger.focus{
	box-shadow:inset 0 0 0 1px rgba(255,255,255,0.5);
	-webkit-box-shadow:inset 0 0 0 1px rgba(255,255,255,0.5);
	-moz-box-shadow:inset 0 0 0 1px rgba(255,255,255,0.5);
}	
.btn-primary:focus, .btn-primary.focus,
.btn-success:focus, .btn-success.focus,
.btn-danger:focus, .btn-danger.focus {
	border-color:#404040;
}

.btn-primary:focus:hover, .btn-primary.focus:hover,
.btn-success:focus:hover, .btn-success.focus:hover,
.btn-danger:focus:hover, .btn-danger.focus:hover{
	box-shadow:inset 0 0 0 1px #fff, 0px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow:inset 0 0 0 1px #fff, 0px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow:inset 0 0 0 1px #fff, 0px 1px 1px rgba(0,0,0,0.1);
}

.btn-primary,
.btn-success,
.btn-danger {
	border: 1px solid #505050;
	color: #FFF;
	background-color: #666;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#777),to(#555));
	background-image: -webkit-linear-gradient(top,#777,#555);
	background-image: -moz-linear-gradient(top,#777,#555);
	background-image: -ms-linear-gradient(top,#777,#555);
	background-image: -o-linear-gradient(top,#777,#555);
	background-image: linear-gradient(top,#777,#555);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#777777',EndColorStr='#555555');
}
.btn-primary:hover,
.btn-success:hover,
.btn-danger:hover {
	border: 1px solid #404040;
	color: #FFF;
	background-color: #555;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#666),to(#444));
	background-image: -webkit-linear-gradient(top,#666,#444);
	background-image: -moz-linear-gradient(top,#666,#444);
	background-image: -ms-linear-gradient(top,#666,#444);
	background-image: -o-linear-gradient(top,#666,#444);
	background-image: linear-gradient(top,#666,#444);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#666666',EndColorStr='#444444');
}
.btn-primary:active, .btn-primary:focus:active, .btn-primary.focus:active,
.btn-success:active, .btn-success:focus:active, .btn-success.focus:active,
.btn-danger:active, .btn-danger:focus:active, .btn-danger.focus:active {
	-webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
}

.btn-success {
	text-shadow: 0px 1px rgba(0,0,0,0.1);
}
.btn-success:hover {
	text-shadow: 0px 1px rgba(0,0,0,0.3);
}
.btn-danger {
	letter-spacing:1;
	text-shadow: 0px 1px rgba(0,0,0,0.1);
}
.btn-danger:hover {
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}
.btn-danger:visited,
.btn-success:visited,
.btn-primary:visited {
	color: #FFF;
}
.btn.btn-danger img,
.btn.btn-danger.selected img,
.btn.btn-danger:hover img,
.btn.btn-danger:active img,
.btn.btn-primary img,
.btn.btn-primary.selected img,
.btn.btn-primary:hover img,
.btn.btn-primary:active img,
.btn.btn-success img,
.btn.btn-success.selected img,
.btn.btn-success:hover img,
.btn.btn-success:active img {
	opacity: 1.0;
}


.btn-primary:focus, .btn-primary.focus{
	border-color:#4D90FE
}
.btn-success:focus, .btn-success.focus{
	border-color:#29691d;
}
.btn-danger:focus, .btn-danger.focus{
	border-color:#d14836;
}

.btn-primary {
	border-color: #3079ed;
	background-color: #4d90fe;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
	background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
	background-image: linear-gradient(top,#4d90fe,#4787ed);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',EndColorStr='#4787ed');
}
.btn-primary:hover {
	border-color: #2f5bb7;
	background-color: #357ae8;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
	background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
	background-image: linear-gradient(top,#4d90fe,#357ae8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',EndColorStr='#357ae8');
}

.btn-success {
	border-color: #29691d;
	background-color: #3d9400;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#3d9400),to(#398a00));
	background-image: -webkit-linear-gradient(top,#3d9400,#398a00);
	background-image: -moz-linear-gradient(top,#3d9400,#398a00);
	background-image: -ms-linear-gradient(top,#3d9400,#398a00);
	background-image: -o-linear-gradient(top,#3d9400,#398a00);
	background-image: linear-gradient(top,#3d9400,#398a00);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#3d9400',EndColorStr='#398a00');
}
.btn-success:hover {
	border-color: #2D6200;
	background-color: #368200;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#3d9400),to(#368200));
	background-image: -webkit-linear-gradient(top,#3d9400,#368200);
	background-image: -moz-linear-gradient(top,#3d9400,#368200);
	background-image: -ms-linear-gradient(top,#3d9400,#368200);
	background-image: -o-linear-gradient(top,#3d9400,#368200);
	background-image: linear-gradient(top,#3d9400,#368200);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#3d9400',EndColorStr='#368200');
}

.btn-danger {
	/*margin-bottom: 16px;*/
	border: 1px solid transparent;
	color: #FFF;
	letter-spacing:1;
	background-color: #d14836;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#d14836));
	background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
	background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
	background-image: -ms-linear-gradient(top,#dd4b39,#d14836);
	background-image: -o-linear-gradient(top,#dd4b39,#d14836);
	background-image: linear-gradient(top,#dd4b39,#d14836);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#dd4b39',EndColorStr='#d14836');
}
.btn-danger:hover {
	border-color: #b0281a;
	border-bottom-color: #AF301F;
	background-color: #c53727;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#c53727));
	background-image: -webkit-linear-gradient(top,#dd4b39,#c53727);
	background-image: -moz-linear-gradient(top,#dd4b39,#c53727);
	background-image: -ms-linear-gradient(top,#dd4b39,#c53727);
	background-image: -o-linear-gradient(top,#dd4b39,#c53727);
	background-image: linear-gradient(top,#dd4b39,#c53727);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#dd4b39',EndColorStr='#c53727');
}
.btn-danger:active,
.btn-danger:focus:active,
.btn-danger.focus:active {
	border-color: #992A1B;
	background-color: #b0281a;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#b0281a));
	background-image: -webkit-linear-gradient(top,#dd4b39,#b0281a);
	background-image: -moz-linear-gradient(top,#dd4b39,#b0281a);
	background-image: -ms-linear-gradient(top,#dd4b39,#b0281a);
	background-image: -o-linear-gradient(top,#dd4b39,#b0281a);
	background-image: linear-gradient(top,#dd4b39,#b0281a);
}
