<!DOCTYPE html>
<html ng-app="playgroundApp">
  <head>
    <title>Cloud Playground</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/playground/css/app.css">
    <!-- load angular in head section to ensure ngCloak CSS is loaded -->
    <script src="/playground/lib/angular/angular.js"></script>

    <script src="/codemirror/lib/codemirror.js"></script>

    <script src="/codemirror/mode/clike/clike.js"></script>
    <script src="/codemirror/mode/css/css.js"></script>
    <script src="/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script src="/codemirror/mode/javascript/javascript.js"></script>
    <script src="/codemirror/mode/mysql/mysql.js"></script>
    <script src="/codemirror/mode/php/php.js"></script>
    <script src="/codemirror/mode/python/python.js"></script>
    <script src="/codemirror/mode/shell/shell.js"></script>
    <script src="/codemirror/mode/xml/xml.js"></script>
    <script src="/codemirror/mode/yaml/yaml.js"></script>

    <script src="/codemirror/lib/util/formatting.js"></script>

  </head>
  <body ng-cloak ng-controller="PageController">
    <div id="container">

      <!-- cover up IFRAMEs during drag -->
      <div id="drag-div" class="hidden">
      </div>
      <div id="header" ng-controller="HeaderController">
        <a class="logo" ng-href="/playground"><span class='app-back' pg-visible="!alreadyhome()">&#x2039;</span>Cloud Playground</a>
        <sup class="experimental">experimental</sup>

        <div class="topbar">
          <div class="email">
            <span><i class="icon-user"></i> {{config.email}}</span>
            <button ng-show="config.is_logged_in" class="btn" onclick="window.location='/playground/logout'">logout</button>
            <button ng-hide="config.is_logged_in" class="btn btn-success" onclick="window.location='/playground/login'">login</button>
          </div>
        </div>
      </div>

      <div ng-controller="AlertController">
        <alert ng-repeat="alert in alerts()" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
      </div>

      <div id="main">
        <div ng-view></div>
      </div>

      <div id="footer">
        <div class="diag">
          <span>namespace: {{namespace()}}</span>
        </div>
        <div id="adminlinks">
          <span>git(<a class="link" ng-href="{{config.git_playground_url}}" target="_blank">cloug-playground</a>)</span>

          <span ng-show="config.is_admin">danger(<span class="link" ng-click="big_red_button()">big-red-button</span>)</span>

          <span ng-show="config.is_admin">admin(<span class="link" ng-click="datastore_admin()" target="_blank">datastore</span>,
                                                <span class="link" ng-click="memcache_admin()" target="_blank">memcache</span>)</span>

        </div>
      </div>
    </div>

    <script src='/ui-bootstrap/ui-bootstrap-tpls-0.1.0.js'></script>
    <script src="/playground/js/app.js"></script>
    <script src="/playground/js/services.js"></script>
    <script src="/playground/js/controllers.js"></script>
    <script src="/playground/js/filters.js"></script>
    <script src="/playground/js/directives.js"></script>
  </body>
</html>
