<div ng-hide="loaded">Loading. Please wait...</div>

<div ng-show="loaded">

  <h1 class="projectlistheader">My Projects</h1>

  <table class="table-condensed">

    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Project</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="project in projects | orderBy:'orderby':true" ng-class="{ghost: !project.key}">
        <td class="key">{{project.key}}</div>
        <td><button class="btn btn-small btn-success" ng-class="{disabled: !project.key}" ng-click="select_project(project)"><i class="icon-edit icon-white"></i> Run/Edit</button>
        <td>{{project.name}}</td>
        <td>{{project.description}}</td>
        <td><button class="btn btn-small btn-danger" ng-class="{disabled: !project.key}" ng-click="prompt_delete_project(project)"><i class="icon-remove icon-white"></i> delete</button></td>
      </tr>

      <tr class="project" ng-hide="has_projects()">
         <td colspan="5">
           <div>
             <b>No projects created yet.</b>
           </div>
           <div style="color: gray;">
              <div>Use the project templates below to start a new project.</div>
             <div ng-hide="config.is_logged_in">
               Or <a ng-click="login()">login</a> to access your saved projects.
             </div>
           </div>
         </td>
      </tr>
    </tbody>

  </table>
  <div ng-repeat="repo_collection in templates.repo_collections">
    <h1>{{repo_collection.description}}</h1>
    <div ng-repeat="template_project in templates.template_projects | filter:{repo_collection_key: repo_collection.key}">
        <div class="template_project" style="margin: .5em;">
          <button class="btn" style="float: left;" ng-click="new_project(template_project)"><i class="icon-plus"></i> New Project</button>
          <div stlye="clear: both;">
             <div class="name"><a ng-href="{{template_project.url}}" target="{{template_project.name}}">{{template_project.name}}</a></div>
             <div class="description">{{template_project.description}}</div>
          </div>
        </div>
    </div>
  <div>

</div>
