<form>
  <div class='modal-header'>
    <button type='button' class='close' ng-click='close()'>&times;</button>
    <h3>OAuth2 Admin: {{key}}</h3>
  </div>

  <div class='modal-body form-horizontal'>
    <div class='control-group'>
      <label class='control-label' for='client_id'>Client Id</label>
      <div class='controls'>
        <input class='span4' type='text' id='client_id' ng-model='client_id' required autofocus>
      </div>
    </div>
    <div class='control-group'>
      <label class='control-label' for='client_secret'>Client Secret</label>
      <div class='controls'>
        <input class='span4' type='text' id='client_secret' ng-model='client_secret' required>
      </div>
    </div>
  </div>

  <div class='modal-footer'>
    <button type='button' class='btn' ng-click='close()'>Close</button>
    <button type='submit' class='btn btn-primary' ng-click='close(client_id, client_secret)'>Save</button>
  </div>
</form>
